.header {
  background: #198870;
  color: #414141;
  height: 60px;
  font-family: Avenir;
  font-size: 16px;
  color: #FBFBFC;
  text-align: center;
  .container {
    margin: 0 auto;
    padding: 20px;
  }
}
