.footerBox {
  position: fixed;
  width: 100%;
  line-height: 18px;
  right: 0;
  bottom: 0;
  background: rgba(38,174,144,0.1);
  color: #198870;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}
